{% extends 'base.html.twig' %}

{% block body %}
<section id="main-container" class="container inner">
    
    <!-- Fil d’Ariane -->
    <ul class="ht-breadcrumbs ht-breadcrumbs--y-padding ht-breadcrumbs--b-border">
        <li class="ht-breadcrumbs__item">
            <a href="{{ path('homepage') }}" class="ht-breadcrumbs__link">
                <span class="ht-breadcrumbs__title">Accueil</span>
            </a>
        </li>
        <li class="ht-breadcrumbs__item">
            <span class="ht-breadcrumbs__page">Réinitialisez votre mot de passe</span>
        </li>
    </ul>

    <div class="row" style="justify-content: center;">
        <div class="col-md-6">
            <div class="opalmembership-login-form-wrapper">

                <h1>Réinitialisez votre mot de passe</h1>
                <p class="text-center" style="margin-bottom: 2rem;">
                    Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe
                </p>

                {% for flash_error in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">
                        {{ flash_error }}
                    </div>
                {% endfor %}

                {{ form_start(requestForm) }}
                    <div class="form-group">
                        <label for="{{ requestForm.email.vars.id }}" class="form-label">Adresse e-mail</label>
                        {{ form_widget(requestForm.email, {
                            'attr': {'class': 'form-field', 'placeholder': 'votre@email.com'}
                        }) }}
                    </div>

                    <div class="form-group" style="display: flex; justify-content: flex-end; align-items: center;">
                        <button type="submit" class="btn-add-ads">
                            Envoyer un e-mail de réinitialisation
                        </button>
                    </div>
                {{ form_end(requestForm) }}

                <div style="margin-top: 1.5rem; text-align: center;">
                    <p>
                        <a href="{{ path('app_login') }}">Retour à la connexion</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}
