{% extends 'base.html.twig' %}
{% block meta %}
    {{ render(controller('App\\Controller\\Admin\\MetaController::getMeta', {'idEntity' : annonce.id, 'entity': 'annonce'})) }}
{% endblock %}
{% block open_graph %}
    <link rel="canonical" href="https://limmobilier.tn{{ path('annonce_details', { 'label' : annonce.label|slugify, 'id' : annonce.id }) }}" />
    <meta property="og:url" content="{{ path('annonce_details', { 'label' : annonce.label|slugify, 'id' : annonce.id }) }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{annonce.label|capitalize}}" />
    <meta property="og:description" content="{{annonce.description|html_entity| striptags|slice(0, 100)}}" />
    {% if (annonce.photos|length) > 0 %}
        <meta property="og:image" content="{{ asset('uploads/photos/'~annonce.photos[0]) }}" />
    {% endif %}
{% endblock %}
{% block body %}
    <section class="property">
        <div class="container">
            <ul class="ht-breadcrumbs ht-breadcrumbs--y-padding ht-breadcrumbs--b-border">
                <li class="ht-breadcrumbs__item"><a href="{{ path('homepage') }}" class="ht-breadcrumbs__link"><span class="ht-breadcrumbs__title">Accueil</span></a></li>
                <li class="ht-breadcrumbs__item"><a href="{{ path('annonce_liste', {'offre': annonce.offre|lower, 'page': 1}) }}" class="ht-breadcrumbs__link"><span class="ht-breadcrumbs__title">{{annonce.offre}}</span></a></li>
                <li class="ht-breadcrumbs__item"><span class="ht-breadcrumbs__page"><a href="{{ path('annonce_liste_type', {'offre': annonce.offre|lower, 'type': annonce.kind|slugify|lower, 'page': 1}) }}" class="ht-breadcrumbs__link">{{annonce.kind | capitalize}}</a></span></li>
				<li class="ht-breadcrumbs__item"><span class="ht-breadcrumbs__page"><a href="{{ path('annonce_liste_type_gouvernorat', {'offre': annonce.offre|lower, 'type': annonce.kind|slugify|lower, 'slug': annonce.gouvernoratSlug ,'page': 1}) }}" class="ht-breadcrumbs__link">{{annonce.gouvernorat | capitalize}}</a></span></li>
                <li class="ht-breadcrumbs__item"><span class="ht-breadcrumbs__page"><a href="{{ path('annonce_liste_type_delegation', {'offre': annonce.offre|lower, 'type' : annonce.kind|slugify|lower, 'slug': annonce.delegation|lower|slugify, 'page': '1' }) }}" class="ht-breadcrumbs__link">{{annonce.delegation| capitalize}}</a></span></li>
                {% if annonce.ville is not null %}<li class="ht-breadcrumbs__item"><span class="ht-breadcrumbs__page"><a href="{{ path('annonce_liste_type_ville', {'offre': annonce.offre|lower, 'type' : annonce.kind|slugify|lower, 'ville': annonce.ville|lower|slugify, 'idVille': annonce.villeId, 'page': '1' }) }}" class="ht-breadcrumbs__link">{{annonce.ville| capitalize}}</a></span></li>{% endif %}
                <li class="ht-breadcrumbs__item"><span class="ht-breadcrumbs__page">{{annonce.label| capitalize}}</span></li>
            </ul><!-- ht-breadcrumb -->
        </div><!-- .container -->
        <div class="property__container">
            <div class="container">
                <div class="row">
                    <aside class="col-md-12">
                        <div class="widget__container">
                            <div class="property__feature">
                                <h3 class="text-center">Nous sommes désolés, cette annonce n'est plus disponible.</h3>
                            </div>
                        </div><!-- .widget__container -->
                         <h1 class="widget__title">Découvrez des annonces immobilières</h1>
                         <h2 class="widget__title">Les annonces immobilières dans la même catégorie : {{annonce.offre}} {{annonce.kind }} {{annonce.ville| capitalize}}</h2>
                        <section class="main-listing-list row">
                            {% if annonces|length > 0  %}
                                
                                {% for annonce in annonces %}
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                        {% include 'default/__annonce.html.twig' %}
                                    </div><!-- .col -->
                                {% endfor %}
                            {% endif %}
                        </section>
                        <h2 class="widget__title">Les annonces immobilières à {% if annonce.ville is not null %} {{annonce.ville| capitalize}} {% endif %} {{annonce.delegation| capitalize}}</h2>
                        <section class="main-listing-list row">
                            {% for annonce in annoncesInCity %}
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                    {% include 'default/__annonce.html.twig' %}
                                </div><!-- .col -->
                            {% endfor %}
                        </section>
                    </aside>
                </div><!-- .row -->
            </div><!-- .container -->
        </div>
    </section><!-- .property -->
    <script>
        $("#favorite").on("click", function () {
            var $btn = $(this);
            var originalText = $btn.html();
            
            // Disable button and show loading state
            $btn.prop('disabled', true).html('<i class="fa fa-spinner fa-spin"></i> Ajout...');
            
            $.ajax({
                type: 'POST',
                data: 'id=' + {{annonce.id}},
                url: "{{ path('favorite') }}",
                dataType: 'json',
                success: function (data) {
                    if (data == 'succes') {
                        $.growl.notice({message: "Annonce ajoutée à votre liste de favoris"});
                        $btn.removeClass('btn-outline-danger').addClass('btn-success').html('<i class="fa fa-heart"></i> Ajouté aux favoris');
                    } else if (data.error) {
                        $.growl.error({message: data.error});
                        $btn.prop('disabled', false).html(originalText);
                    }
                },
                error: function(xhr, status, error) {
                    var errorMessage = "Erreur lors de l'ajout aux favoris";
                    
                    if (xhr.responseJSON && xhr.responseJSON.error) {
                        errorMessage = xhr.responseJSON.error;
                    } else if (xhr.status === 403) {
                        errorMessage = "Vous devez être connecté pour ajouter aux favoris";
                    } else if (xhr.status === 404) {
                        errorMessage = "Annonce introuvable";
                    }
                    
                    $.growl.error({message: errorMessage});
                    $btn.prop('disabled', false).html(originalText);
                }
            });
        });

        $(".calculator__submit").on("click", function () {
            var c = $('#home-price').val();
            var t = $('#annual-rate').val() / 100;
            var d = $('#loan-term').val() * 12;
            $(".mensualite").html(((c * (t / 12)) / (1 - (Math.pow((1 + (t / 12)), -d)))).toFixed(3) + ' DT');
            $(".form-calculator__result").show('slow');
        });
    </script>

{% endblock %}