{% extends 'base.html.twig' %}
{% block meta %}
    <title>Tunisie annonce immobilier {{user.agence}} page {{ page }}</title>
    <meta name="description" content="Tunisie annonces immobilières vente ou en location un appartement, une maison ou un terrain {{user.agence}} page {{ page }}" />
{% endblock %}
{% block open_graph %}
    <link rel="canonical" href="{{ path('liste_agence', {'label': user.agence|slugify, 'id': user.id, 'page': page} )  }}" />    
    <meta property="og:url" content="{{ path('liste_agence', {'label': user.agence|slugify, 'id': user.id, 'page': page} ) }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{user.agence}}" />
    <meta property="og:description" content="{{user.agence}} achat vente location de bien immobilier" />
    <meta property="og:image" content="{{ asset('uploads/logos/' ~ user.logo) }}" />
{% endblock %}
{% block body %}
    <section class="main-listing">
        <div class="container">
            <ul class="ht-breadcrumbs ht-breadcrumbs--y-padding">
                <li class="ht-breadcrumbs__item"><a href="{{ path('homepage') }}" class="ht-breadcrumbs__link"><span class="ht-breadcrumbs__page">Accueil</span></a></li>
                <li class="ht-breadcrumbs__item"><a href="{{ path('liste-agences') }}" class="ht-breadcrumbs__link"><span class="ht-breadcrumbs__page">Agences immobilière</span></a></li>
                <li class="ht-breadcrumbs__item"><span class="ht-breadcrumbs__page">{{user.agence}}</span></li>
            </ul><!-- ht-breadcrumb -->
        </div><!-- .container -->
        <div class="property__header">
            <div class="container">
                <div class="property__header-container">
                    <div class="single__avatar agents-single__avatar">
                        {% if(user.logo  != NULL) %}
                            <img src="{{ asset('uploads/logos/' ~ user.logo) }}" class="logo-agence" alt="{{ user.agence }}">
                            {% else %}
                                <div class="avatar75">{{ user.agence }}</div>
                            {% endif %}
                    </div><!-- .agents-single__avatar -->

                    <div class="single__detail agents-single__detail">
                        <h1 class="section__title section__title--b-margin-40">{{user.agence}}</h1>
                        <ul class="famous-agents__contact agents-single__contact">
                            <li class="famous-agents__phone">
                                <!-- Phone icon SVG -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M3.654 1.328a.678.678 0 0 1 .737-.092l2.527 1.01c.245.098.39.348.364.608l-.42 3.63a.678.678 0 0 1-.673.598l-1.024-.072a11.72 11.72 0 0 0 5.292 5.292l.072-1.024a.678.678 0 0 1 .598-.673l3.63-.42a.678.678 0 0 1 .608.364l1.01 2.527a.678.678 0 0 1-.092.737l-2.2 2.2a1.745 1.745 0 0 1-1.915.418c-2.22-1.018-4.413-3.21-5.43-5.43a1.745 1.745 0 0 1 .418-1.915l2.2-2.2z"/>
                                </svg>
                                <a href="tel:{{ user.telephone }}">{{ user.telephone }}</a>
                            </li>
                        </ul>
                        <p class="agents-single__desc"></p>
                    </div><!-- .agents-single__detail -->
                </div><!-- .property__header-container -->
            </div><!-- .container -->
        </div><!-- .property__header -->
        <div class="container">
            <div class="agents-single__wrapper">
                <div class="row">
                    <div class="col-md-9">
                        <div class="single__inner agents-single__inner">

                        </div><!-- agents-single__inner -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div>
        </div><!-- .container -->

        <div class="main-listing__main">
            <div class="container">
                <div class="row">
                    {% include 'default/__aside.html.twig' %}
                    <main class="col-md-9">
                        <div class="main-listing__tags">
                        </div><!-- .main-listing__tags -->
                        <div class="loading" style="display: none;text-align: center;">
                            <img src="{{ asset('asset/images/load.gif') }}" alt="Loading">
                        </div>
                        <section class="main-listing-list row">
                            {% for annonce in annonces %}
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                    {% include 'default/__annonce.html.twig' %}
                                </div><!-- .col -->
                            {% else %}
                                <div class="col-12 text-center text-muted py-3">
                                    Aucune annonce immobilière n’est disponible dans cette section pour le moment. <br>Revenez bientôt pour découvrir de nouvelles offres !
                                </div>    
                            {% endfor %}
                            {{ knp_pagination_render(annonces) }}
                        </section>
                    </main><!-- .col -->
                </div><!-- row -->
            </div><!-- .container -->
        </div><!-- .main-listing__main -->
    </section>
    <style>
        .pagination .pagination--t-margin {
            margin-bottom: 20px;
        }

        .first {
            display: inline-block;
            margin: 0 2px;
        }
        .pagination > li > a,
        .pagination > li > span{
            color: #BF3E26;

        }

        .pagination > li > a:hover,
        .pagination > li > span:hover,
        .pagination > li > a:focus,
        .pagination > li > span:focus{
            background-color: #98fb98;
            color:#BF3E26;
        }

        .pagination > span {
            display: inline-block;
            color: #333333;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 4px;
            border: 1px solid transparent;
            transition: 0.5s all ease-out;
        }

        .pagination > .current {
            background-color: #1fc341;
            color: #ffffff;
        }
        .pagination > span:hover {
            border: 1px solid #dddddd;
        }
        .pagination > .active > a,
        .pagination > .active > span,
        .pagination > .active > a:hover,
        .pagination > .active > span:hover,
        .pagination > .active > a:focus,
        .pagination > .active > span:focus{
            background-color: #1C8C42;
            color: #ffffff;
            border: 1px solid #dddddd;
        }

    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(":input").on("change", function () {
            $(".main-listing-list").empty();
            $(".pagination").empty();
            $(".loading").show();
            $.ajax({
                type: 'POST', // Le type de la requête HTTP, ici devenu POST
                data: 'user=' +     {{ user.id }} +'&offre=' + $('input[name$="offre-type"]:checked').val() + '&type=' + $('input[name$="property-type"]:checked').val() + '&ville=' + $('#listing-city').val() + '&chambres=' + $('#listing-bedroom').val() + '&surfaceMin=' + $('#min-area').val() + '&surfaceMax=' + $('#max-area').val() + '&keyWord=' + $('#main-listing-keyword').val() + '&sort=' + $('#sort-type').val(),
                url: "{{ app.request.schemeAndHttpHost }}{{ path('search_list') }}",
                dataType: 'json', // ** ensure you add this line **
                success: function (data) { // code_html contient le HTML renvoyé
                    var result = jQuery.parseJSON(JSON.stringify(data));

                    if ($('#listing-city').val() != 'ALL') {
                        $(".main-listing__tag_city").show();
                        $(".main-listing__tag-value_City").html($('#listing-city').val());
                    }

                    $(".listing-sort__list").html(data.length + ' résultats');
                    $(".loading").hide();
                    jQuery.each(data, function (index, item) {
                        var html = '<div class="col-md-4 item-grid__container"><div class="listing-homepage"><div class="item-grid__image-container style-hover-zoom clearfix"><a href="annonce-' + item.slug + '-' + item.id_1 + '.html"><div class="item-grid__image-overlay" style="background: url(\'/uploads/photos/263x175/' + item.photo + '\');width: 100%;height: 175px;background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;"></div></a></div><div class="absolute"><ul class="property-status"><li class="property-status-item property-status-rent"><span>' + item.tlabel + '</span></li></ul><div class="property-group-label"><span class="label-featured label label-success">' + item.offre_2 + '</span></div></div><div class="item-grid__content-container"><div class="listing__content"><div class="listing__header"><div class="listing__header-primary"><div><h3 class="listing__title  h-70"><a href="annonce-' + item.slug + '-' + item.id_1 + '.html">' + item.label_2 + '</a></h3></div><span class="listing__type"><a href="#">' + item.delegation + '</a></span><div class="property-price"><p class="listing__price">' + item.prix_3 + ' DT</p></div></div></div><div class="flex-center space-beetween pb12 list-details"><div class="clearfix"><div class="property-meta"><ul class="property-meta-list list-inline">';
                        if (item.nbrPieces) {
                            html += '<li class="property-label-bedrooms" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pièces"><i class="icon-property-bedrooms"></i><span class="label-content">' + item.nbrPieces + ' pièces</span></li>';
                        }
                        if (item.surface_3) {
                            html += '<li class="property-label-areasize" data-toggle="tooltip" data-placement="top" title="" data-original-title="Surface" aria-describedby="tooltip386929"><i class="icon-property-areasize"></i><span class="label-content">' + item.surface_3 + ' m<sup>2</sup></span></li>';
                        }
                        html += '</ul></div></div><a href="#"><img itemprop="logo" src="/public/uploads/logos/' + item.logo + '" alt="" loading="lazy" width="50" height="50" itemprop="logo" style="width: 50px; height: 50px; object-fit: contain;"></a></div></div></div></div></div>';

                        $(".main-listing-list").prepend(html);
                    });
                }
            });
        });
    </script>
    <script>
        window.addEventListener("load", function () {
            document.querySelectorAll("picture").forEach(picture => {
                const source = picture.querySelector("source");
                const img = picture.querySelector("img");

                if (source && source.dataset.srcset) {
                    source.srcset = source.dataset.srcset;
                }

                if (img && img.dataset.src) {
                    img.src = img.dataset.src;
                }
            });
        });
    </script>
{% endblock %}