{% extends 'base.html.twig' %}
{% block meta %}
    <title>{{ offre == 'Vente' ? 'Vendre' : (offre == 'Location' ? 'Louer' : '') }}{% if(type is defined) %} {{type|lower}}{%else%} immobilier{% endif %} à {{ ville | capitalize }} {{ ville.delegation | capitalize }} {{ ville.gouvernorat | capitalize }} Tunisie annonce immobilier page {{ page }}</title>
    <meta name="description" content="Tunisie annonce immobilière trouvez en {% if(offre is defined) %}{{offre|lower}}{%else%}vente ou location{% endif %} {% if(type is defined) %}{{type|lower}}{%else%} un appartement ou une maison{% endif %} à {{ ville | capitalize }} {{ ville.delegation | capitalize }} {{ ville.gouvernorat | capitalize }} Tunisie annonces immobilières sur limmobilier.tn page {{ page }}" />
{% endblock %}
{% block open_graph %}
    <link rel="canonical" href="{{ path('annonce_liste_type_ville', {'offre': offre|lower, 'page' : page, 'type' : type.label|slugify|lower, 'ville': ville.label|lower|slugify, 'idVille': ville.id }) }}" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Trouvez {% if(type is defined) %} {{type}} {%else%} un appartement ou une maison {% endif %} en {% if(offre is defined) %}{{offre}}{%else%} vente ou en location {% endif %} {% if(ville is defined) %} à {{ ville | capitalize }}{% endif %}" />
    <meta property="og:description" content="Annonces immobilières en Tunisie {% if(type is defined) %} {{type}} {%else%} un appartement ou une maison {% endif %} en {% if(offre is defined) %}{{offre}}{%else%} vente ou en location {% endif %} {% if(ville is defined) %} à {{ ville | capitalize }} {% endif %}" />
    <meta property="og:image" content="{{ path('homepage') }}uploads/photos/12845.png" />
{% endblock %}
{% block body %}
    <section class="main-listing">
        <div class="container">
            <ul class="ht-breadcrumbs ht-breadcrumbs--y-padding">
                <li class="ht-breadcrumbs__item"><a href="{{ path('homepage') }}" class="ht-breadcrumbs__link"><span class="ht-breadcrumbs__title">Accueil</span></a></li>
                {% if(offre is defined) %}<li class="ht-breadcrumbs__item"><span class="ht-breadcrumbs__page"><a href="{{ path('annonce_liste', {'offre': offre|lower, 'page': 1}) }}" class="ht-breadcrumbs__link">{{offre | capitalize}}</a></span></li>{% endif %}
                {% if(type is defined) %}<li class="ht-breadcrumbs__item"><span class="ht-breadcrumbs__page"><a href="{{ path('annonce_liste_type', {'offre': offre|lower, 'type': type|slugify|lower, 'page': 1}) }}" class="ht-breadcrumbs__link">{{type | capitalize}}</a></span></li>{% endif %}
                <li class="ht-breadcrumbs__item"><span class="ht-breadcrumbs__page"><a href="{{ path('annonce_liste_type_gouvernorat', {'offre': offre|lower, 'type': type|lower, 'slug': ville.delegation.gouvernorat.slug ,'page': 1}) }}" class="ht-breadcrumbs__link">{{ville.delegation.gouvernorat | capitalize}}</a></span></li>
                <li class="ht-breadcrumbs__item"><span class="ht-breadcrumbs__page"><a href="{{ path('annonce_liste_type_delegation', {'offre': offre|lower,'type': type|slugify|lower, 'slug': ville.delegation.label|lower|slugify, 'page': '1' }) }}" class="ht-breadcrumbs__link">{{ville.delegation.label | capitalize}}</a></span></li>
                <li class="ht-breadcrumbs__item"><span class="ht-breadcrumbs__page">{{ville | capitalize}}</span></li>
            </ul><!-- ht-breadcrumb -->
        </div><!-- .container -->
        <div class="property__header">
            <div class="container">
                <div class="property__header-container">
                    <h1 class="section__title section__title--centered text-center">Découvrez les meilleures annonces {% if(offre is defined) %} {{offre}}{%else%} vente ou en location{% endif %} {% if(type is defined) %} {{ type}}{%else%} biens immobiliers{% endif %} {% if(ville is defined) %} à {{ ville | title }}{%else%} en Tunisie{% endif %}</h1>
                    <h2 class="section__subtitle section__subtitle--centered section__subtitle--b-margin-40 text-center">Nos dernières offres de {% if(type is defined) %} {{ type}}s{%else%} Biens Immobiliers {% endif %}</h2>
                </div><!-- .property__header-container -->
            </div><!-- .container -->
        </div><!-- .property__header -->
        <div class="main-listing__main">
            <div class="container">
                <div class="row">
                    {% include 'default/__aside.html.twig' %}
                    <main class="col-md-9">
                        <section class="main-listing-list row">
                            <div class="loading" style="display: none;text-align: center;">
                                <img src="{{ asset('asset/images/load.gif') }}" alt="Loading">
                            </div>
                            {% for annonce in annonces %}
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                    {% include 'default/__annonce.html.twig' %}
                                </div><!-- .col -->
                            {% else %}
                                <div class="col-12 text-center text-muted py-3">
                                    Aucune annonce immobilière n’est disponible dans cette section pour le moment. <br>Revenez bientôt pour découvrir de nouvelles offres !
                                </div>    
                            {% endfor %}
                            {{ knp_pagination_render(annonces) }}
                        </section>
                    </main><!-- .col -->
                </div>
            </div><!-- .container -->
        </div><!-- .main-listing__main -->
    </section>
{% endblock %}

{% block text_footer %}
    <p class="footer__desc">
        Bienvenue sur la page dédiée aux annonces immobilières dans la ville de {{ ville | capitalize }} delegation {{ ville.delegation | capitalize }} gouvernorat {{ ville.gouvernorat | capitalize }}. Que vous recherchiez un appartement, une maison, un terrain ou un local commercial à vendre ou à louer, notre sélection d’annonces actualisées vous permet de trouver rapidement le bien immobilier qui correspond à vos besoins.

        {{ ville | capitalize }} {{ ville.delegation | capitalize }} {{ ville.gouvernorat | capitalize }} est une région dynamique, reconnue pour son cadre agréable entre mer Méditerranée et zones rurales, idéale pour habiter ou investir. Le marché immobilier y est varié, avec des opportunités adaptées à tous les budgets, des biens économiques aux propriétés plus haut de gamme.

        Un marché immobilier attractif pour les investisseurs et les familles.

        Trouvez facilement votre bien immobilier à {{ ville | capitalize }} {{ ville.delegation | capitalize }} {{ ville.gouvernorat | capitalize }}
        Utilisez nos filtres pour affiner votre recherche selon :

        Type de bien (appartement, maison, terrain, local commercial)

        Mode de transaction (vente ou location)

        Localisation précise dans la ville de {{ ville | capitalize }} delegation {{ ville.delegation | capitalize }} gouvernorat {{ ville.gouvernorat | capitalize }}

        Budget, superficie et autres critères spécifiques

        Consultez les annonces en détail, contactez directement les vendeurs ou agences et faites le premier pas vers votre nouveau logement ou investissement à {{ ville | capitalize }} {{ ville.delegation | capitalize }} {{ ville.gouvernorat | capitalize }}.
    </p>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('asset/js/load.js') }}"></script>
    <script type="text/javascript">
        $(":input").on("change", function () {
            $(".main-listing-list").empty();
            $(".pagination").empty();
            $(".loading").show();
            $.ajax({
                type: 'POST', // Le type de la requête HTTP, ici devenu POST
                data: 'offre={% if(offre is defined) %}{{offre}}{% endif %}&type=' + $('input[name$="property-type"]:checked').val() + '&gouvernorat=' + $('#listing-gouvernorat').val() + '&delegation=' + $('#listing-delegation').val() + '&ville=' + $('#listing-city').val() + '&chambres=' + $('#listing-bedroom').val() + '&prixMin=' + $('#min-prix').val() + '&prixMax=' + $('#max-prix').val() + '&surfaceMin=' + $('#min-area').val() + '&surfaceMax=' + $('#max-area').val() + '&keyWord=' + $('#main-listing-keyword').val() + '&sort=' + $('#sort-type').val(),
                url: "/recherche-annonce.html",
                dataType: 'json', // ** ensure you add this line **
                success: function (data) { // code_html contient le HTML renvoyé
                    var result = jQuery.parseJSON(JSON.stringify(data));
                    $(".listing-sort__list").html(data.length + ' résultats');
                    $(".loading").hide();
                    jQuery.each(data, function (index, item) {
                        var html = '<div class="col-md-4 item-grid__container"><div class="listing-homepage"><div class="item-grid__image-container style-hover-zoom clearfix"><a href="https://limmobilier.tn/annonce/' + item.slug + '-' + item.id_1 + '.html"><div class="item-grid__image-overlay" style="background: url(\'/uploads/photos/263x175/' + item.photo + '\');width: 100%;height: 175px;background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;"></div></a></div><div class="absolute"><ul class="property-status"><li class="property-status-item property-status-rent"><span>' + item.tlabel + '</span></li></ul><div class="property-group-label"><span class="label-featured label label-success">' + item.offre_2 + '</span></div></div><div class="item-grid__content-container"><div class="listing__content"><div class="listing__header"><div class="listing__header-primary"><div><h3 class="listing__title  h-70"><a href="https://limmobilier.tn/annonce/' + item.slug + '-' + item.id_1 + '.html">' + item.label_2 + '</a></h3></div><span class="listing__type"><a href="#">' + item.delegation + '</a></span><div class="property-price"><p class="listing__price">' + item.prix_3 + ' DT</p></div></div></div><div class="flex-center space-beetween pb12 list-details"><div class="clearfix"><div class="property-meta"><ul class="property-meta-list list-inline">';
                        if (item.nbrPieces) {
                            html += '<li class="property-label-bedrooms" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pièces"><i class="icon-property-bedrooms"></i><span class="label-content">' + item.nbrPieces + ' pièces</span></li>';
                        }
                        if (item.surface_3) {
                            html += '<li class="property-label-areasize" data-toggle="tooltip" data-placement="top" title="" data-original-title="Surface" aria-describedby="tooltip386929"><i class="icon-property-areasize"></i><span class="label-content">' + item.surface_3 + ' m<sup>2</sup></span></li>';
                        }
                        html += '</ul></div></div><a href="#"><img itemprop="logo" src="/public/uploads/logos/' + item.logo + '" alt="" loading="lazy" width="50" height="50" itemprop="logo" style="width: 50px; height: 50px; object-fit: contain;"></a></div></div></div></div></div>';

                        $(".main-listing-list").prepend(html);
                    });
                }
            });
        });
    </script>
{% endblock %}