{# empty Twig template #}
<table cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
    <tbody><tr>
            <td width="100%" valign="top" align="center">
                <table width="100%" cellspacing="0" cellpadding="0" border="0" id="m_-7675272318592799481email-content">
                    <tbody><tr class="m_-7675272318592799481m-hide">
                            <td>
                                <div style="display:none!important;font-size:1px;color:#ffffff">
                                    Mohamed, ne cherchez pas plus loin. Les meilleures offres sont juste l√†.
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#003580" style="background:#003580">
                                <table width="700" align="center" cellspacing="0" cellpadding="0" border="0" class="m_-7675272318592799481m-fw" style="margin:0 auto">
                                    <tbody><tr>
                                            <th width="100%" class="m_-7675272318592799481m-stack m_-7675272318592799481m-nopad" bgcolor="#003580" style="background:#003580;font-weight:normal;padding-bottom:16px">
                                                <table class="m_-7675272318592799481m-align-center" width="100%" align="left" cellspacing="0" cellpadding="0" border="0" style="margin:0 auto">
                                                    <tbody>
                                                        <tr>
                                                            <td style="line-height:16px">
                                                                <img src="https://ci4.googleusercontent.com/proxy/WJTQ-fWMXm4L42X8nvFdF6d9mbpNCha0DhVEKEZSKj4iWe23wFmru9fjOxAJnvDNHyD0aFLdX-h0lsaoTru2ex3CpweaL9OFJhTl34X_uTPhxY0=s0-d-e1-ft#http://q-xx.bstatic.com/static/img/newsletters/height_spacer.png" width="1" height="16" border="0" class="CToWUd">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table class="m_-7675272318592799481m-fw" cellpadding="0" cellspacing="0" border="0">
                                                                    <tbody><tr>
                                                                            <td class="m_-7675272318592799481m-head-logo-space">
                                                                                <table class="m_-7675272318592799481m-fw" cellpadding="0" cellspacing="0" border="0" width="144">
                                                                                    <tbody><tr>
                                                                                            <td align="center">
                                                                                                <a href="" style="display:inline-block;font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;font-size:18px;color:#ffffff;font-weight:600;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.sg.booking.com/uni/mpss/c/6gA/2upHAA/t.2sh/D_al063nSXOIO9WZg6ST2Q/h0/0rr-2FHUEV74zz6nHByIA3Xdq-2Be4rvfnnDB-2Bd-2BTKaVzJ68dHPd9iNLHRfZviIcewIkoU4bsszWE0DUzHbiAY11ggBiTOaSU5wuQIsOatWWd-2BYhktcHqtzBckABQ1EjvSF9m9oV9GOv50l5nNVT1xWrScVTfRY2cJPLs2EbTyvGowWByH-2BSxoBOyezaTxOX8sT660q-2FTvHtaK1Ya4rTJtng1v71vuxFQ4atzaqPH3MTvVc-3D&amp;source=gmail&amp;ust=1560845094492000&amp;usg=AFQjCNHHO8QhguKK461Lv1tEv0CSx0PVEw">
                                                                                                    <img class="m_-7675272318592799481logo_mob CToWUd" src="https://limmobilier.tn/webSite/images/uploads/logo.png" height="44" border="0" alt="limmobilier.tn">
                                                                                                </a>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody></table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody></table>
                                                            </td>
                                                        </tr>
                                                    </tbody></table>
                                            </th>
                                            <th class="m_-7675272318592799481m-stack m_-7675272318592799481m-head-name-space" valign="middle" bgcolor="#003580" style="background-color:#003580;font-weight:normal;padding:12px 0">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0">
                                                    <tbody><tr>
                                                            <td align="center" valign="top">
                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody><tr>
                                                                            <td valign="middle" style="padding-right:12px">
                                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                    <tbody><tr>
                                                                                            <td width="30" height="30">
                                                                                                <a href="" style="display:block;text-decoration:none;color:#ffffff" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.sg.booking.com/mpss/c/6gA/2upHAA/t.2sh/D_al063nSXOIO9WZg6ST2Q/h1/h-2B7n1PrGbiWDunSuXdpxLXf1yiEQCvpGRSXyfrf4g1hi5mWB6LN1yBkb1hClTHpNe-2BNYvM4rxwGBWUH7lLWtbaCLx0s8P8WZI-2Bplr5LWTqDV3-2BUViaYT-2BRmkgY2AlmF7txvjmfiDzhUwvIRn2i-2Bnxq7glG1dP44nFnNC5d37tThD9OtBVhxMBeT0Xhe1ZjpMSFuir7w-2F9Ubt0FSKPDDLh1jayoLY6lDLoQYo0vAg6dHbUWsvi3ApOeg5oOIEwVK5uOdLAGTxVNIO0d-2FP0n8Rtai7MLO9O0rQMmzPeCTgdwtZQfJ2dvd-2FpPKu0HxfSH-2BKybkn8Ak2-2F-2FBrXj3zFxkULg-3D-3D&amp;source=gmail&amp;ust=1560845094492000&amp;usg=AFQjCNGa3lAVpdc_CV9KKNnL3zVq0C-sLQ">
                                                                                                    <img src="https://ci6.googleusercontent.com/proxy/WId4wyNHjTSrdiPHppq7zYYnSx2ghmuUbeDlM01hJM6S-IoBOfF3YtHzCjqHuIvjb3DYSCiufbr1-sJ0k6YPgVSLb9VA3WiFVTydlw4yB2pG83Am=s0-d-e1-ft#http://r-xx.bstatic.com/static/img/newsletters/avatar_default.png" style="display:block" height="30" width="30" class="CToWUd">
                                                                                                </a>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody></table>
                                                                            </td>
                                                                            <td style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;font-size:14px;font-weight:bold;color:#ffffff;line-height:18px;white-space:nowrap" valign="middle">
                                                                                <a href="" style="text-decoration:none;color:#ffffff" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.sg.booking.com/mpss/c/6gA/2upHAA/t.2sh/D_al063nSXOIO9WZg6ST2Q/h2/h-2B7n1PrGbiWDunSuXdpxLXf1yiEQCvpGRSXyfrf4g1hi5mWB6LN1yBkb1hClTHpNe-2BNYvM4rxwGBWUH7lLWtbaCLx0s8P8WZI-2Bplr5LWTqA9elItXBsxJg8lE5jHRKvhgCRId69OBdEbg6f4lyzDx6k9sV8E6YkWNmRnBm7XIzaViSM19GCbIU4xl4dutIEv5PANsJSQN-2BmUJt-2FKw6mYhfNY-2B-2FyjKFk90BBiF14H4mAfSSoNnzZY9BUJ8xy0PYd9CQFNKK6HMQYJA-2BCOG1v2tj6DE8qV9YSvDOk3i-2FxsQyXHKIjARgZFxBi1Ay1tt02SQy02RHB-2F7nltCzeZjhHfOg-3D-3D&amp;source=gmail&amp;ust=1560845094492000&amp;usg=AFQjCNF-IygkeUWHK49NGYOwK_HoMQcZkQ">
                                                                                    <u></u>Mohamed Samoud<u></u>
                                                                                </a>
                                                                                
                                                                            </td>
                                                                        </tr>
                                                                    </tbody></table>
                                                            </td>
                                                        </tr>
                                                    </tbody></table>
                                            </th>
                                        </tr>
                                    </tbody></table>
                            </td>
                        </tr>
                        <tr>
                            <td width="100%" height="1" bgcolor="#003580" style="background-color:#003580;height:1px;font-size:1px;line-height:1px;padding:0;color:transparent">
                                <a href="" style="display:block;text-decoration:none;color:#003580" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.sg.booking.com/mpss/c/6gA/2upHAA/t.2sh/D_al063nSXOIO9WZg6ST2Q/h3/0rr-2FHUEV74zz6nHByIA3Xdq-2Be4rvfnnDB-2Bd-2BTKaVzJ68dHPd9iNLHRfZviIcewIkoU4bsszWE0DUzHbiAY11gseNBtVCEMfz-2Fx8Z1Hsa59HUL5m5LHt10ZCa-2FJA2mBsx2jqe-2B9MWRJ4sZeSaGhuvdkFX4P0J9qwS5dd2xz-2FvPTqmY3cEHI2ZhUHrKPLg8zwyHeA5ybbpVSCbwzjkzwZjDg-3D-3D&amp;source=gmail&amp;ust=1560845094493000&amp;usg=AFQjCNHFaaEmA5hmUNtgxX2-YbHK-ju6Ag">
                                    <img src="https://ci6.googleusercontent.com/proxy/5i-SyXqNGa9FVmZTVprpUhWLhyIoMBbiWk_HyP3mSXB4dMudI2s4tdnevLJ2IMk_4c6yKyiqNDxedB9tmUwHxL4KOxkQKvSinhbAOAYO0YsULuDFPsVR41aPQ6HR5qLjuAzhkg=s0-d-e1-ft#https://link.sg.booking.com/mpss/o/6gA/2upHAA/t.2sh/D_al063nSXOIO9WZg6ST2Q/ho.gif" alt="" width="1" height="1" border="0" style="height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important" class="CToWUd">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td height="1" bgcolor="#003580" style="background-color:#003580;height:1px;font-size:1px;line-height:1px;padding:0;color:transparent">
                                <a href="" style="display:block" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.sg.booking.com/mpss/c/6gA/2upHAA/t.2sh/D_al063nSXOIO9WZg6ST2Q/h4/0rr-2FHUEV74zz6nHByIA3Xdq-2Be4rvfnnDB-2Bd-2BTKaVzJ68dHPd9iNLHRfZviIcewIkoU4bsszWE0DUzHbiAY11gseNBtVCEMfz-2Fx8Z1Hsa59ETGCXDq8n0reh0-2B6l-2BVY0i5VEcQtRBUTUP0YOgi6LZX67dp0eUFZZmc1q0FfYxZPuSqVhxI3fx-2BkLGlnzzGQpAtbalbVocLga5HPblgo0sNA-3D-3D&amp;source=gmail&amp;ust=1560845094493000&amp;usg=AFQjCNH_QzJ5guLOIhVsNkEx5D7z4PLP1Q">
                                    <img src="https://ci6.googleusercontent.com/proxy/qfo6ftI6fwWapg4U5aCpmYQYt0MiyY6Ah-HrRNL2D3ED4tGw5-3Lr0XCWeS2tAoauFRGIOtn_A246Mu6I3rgy2RhEEe8auCeQ83eAXctG0f5qrQ8E5K3Pw20Fe1c_46E6_1x4LE2K8p6scp20fmDUA0WLCZGVxEaI6j6aFAln8BjrvUTnDSHbMP01XN7Zg=s0-d-e1-ft#https://www.booking.com/emk_track_pixel.gif?aid=339530&amp;emk=Z82905JYT1&amp;lang=fr&amp;stype=23&amp;t=0.422687981794098&amp;label=emk_header" alt="" width="1" height="1" border="0" style="height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important" class="CToWUd">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="middle" style="padding:0 10px">
                                <table class="m_-7675272318592799481m-fw" width="700" cellspacing="0" cellpadding="0" border="0" align="center" style="margin:0 auto">
                                    <tbody><tr>
                                            <td align="center" style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;font-size:20px;line-height:26px;font-weight:normal">
                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody><tr>
                                                            <td style="line-height:24px">
                                                                <img src="https://ci4.googleusercontent.com/proxy/WJTQ-fWMXm4L42X8nvFdF6d9mbpNCha0DhVEKEZSKj4iWe23wFmru9fjOxAJnvDNHyD0aFLdX-h0lsaoTru2ex3CpweaL9OFJhTl34X_uTPhxY0=s0-d-e1-ft#http://q-xx.bstatic.com/static/img/newsletters/height_spacer.png" width="1" height="24" border="0" class="CToWUd">
                                                            </td>
                                                        </tr>
                                                    </tbody></table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <table width="700" class="m_-7675272318592799481deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center"><tbody><tr><td class="m_-7675272318592799481m-spc-v" height="" style="font-size:1px">&nbsp;</td></tr></tbody></table>
                <table width="700" class="m_-7675272318592799481deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center"><tbody><tr><td class="m_-7675272318592799481m-spc-v" height="" style="font-size:1px">&nbsp;</td></tr></tbody></table>

                <table cellpadding="0" cellspacing="0" border="0" align="center" width="700" style="margin:0 auto" class="m_-7675272318592799481deviceWidth">
                    <tbody>
                        <tr>
                            <td align="left" style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;font-size:24px;font-weight:400;color:#003580;padding-bottom:12px;padding-top:18px">
                                Nous avons de nouvelles offres correspondant ‡ votre recherche: 
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table align="center" width="700" class="m_-7675272318592799481deviceWidth" border="0" cellpadding="0" cellspacing="0" style="margin:0 auto">
                    <tbody>
                        <tr>
                            <th class="m_-7675272318592799481m-stack" valign="top">
                                <table align="center" width="100%" valign="top" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                        <tr>
                                            <th width="345" class="m_-7675272318592799481m-stack" style="min-width:345" align="left" valign="top">
                                                <table width="345" style="min-width:345" class="m_-7675272318592799481m-fw" border="0" valign="top" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <th>
                                                                {% for annonce in annonces|slice(0, 5) %}
                                                                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th align="center" style="border:1px solid #ededed">
                                                                                <table width="100%" bgcolor="#FFFFFF" align="center" cellspacing="0" cellpadding="0" border="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <th width="100" align="left" style="font-size:14px;line-height:20px;font-weight:400;font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;text-align:left;color:#ffffff;text-decoration:none">
                                                                                                <a href="{{ path('annonce_details', { 'label' : annonce.bien.label|slugify, 'id' : annonce.id }) }}" style="text-decoration:none;color:#ffffff" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.sg.booking.com/uni/mpss/c/6gA/2upHAA/t.2sh/D_al063nSXOIO9WZg6ST2Q/h39/0rr-2FHUEV74zz6nHByIA3XVWT6HMPOBOs9SapJos9IoDHWD8pXpC2vRzYxXxdAzsWM3MRKV9jyRUkYqOVO3f-2FJHlxiASYKVu7C9Y2vD0kR4NzuGFZ-2BqcSAVMbJe8Y-2BJ7h5TB0FmaJtvRgm9rxbcoIqG5qvX4uL2ASeD3UVGz-2FyAk5jsOoWLEovzSygZECbpDQDVehSPWlcjWvxjaNfMzkVRC9dD5fC9uLOuuWijhAxBhfAPJIsCq-2FFGj79oyr-2BIdEssX3v95FD0clV2VKOggo6g-3D-3D&amp;source=gmail&amp;ust=1560845094495000&amp;usg=AFQjCNG1bbpQoQJCgIv5CTHwu-o1jxW7CA">
                                                                                                    <img border="0" style="display:block;" src="{{ app.request.schemeAndHttpHost }}/uploads/photos/{{  annonce.photo }}" width="130" height="130" class="CToWUd">
                                                                                                </a>
                                                                                            </th>
                                                                                            <th align="left" valign="middle" style="font-size:14px;line-height:20px;font-weight:400;font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;text-align:left;color:#ffffff;text-decoration:none">
                                                                                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td align="left" style="padding:0 10px 0 10px;font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif">
                                                                                                                <a style="display:block;font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;line-height:24px;font-size:18px;color:#000000;text-decoration:none;font-weight:600" href="{{ path('annonce_details', { 'label' : annonce.bien.label|slugify, 'id' : annonce.id }) }}" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.sg.booking.com/uni/mpss/c/6gA/2upHAA/t.2sh/D_al063nSXOIO9WZg6ST2Q/h40/0rr-2FHUEV74zz6nHByIA3XVWT6HMPOBOs9SapJos9IoDHWD8pXpC2vRzYxXxdAzsWM3MRKV9jyRUkYqOVO3f-2FJHlxiASYKVu7C9Y2vD0kR4NMLJO4HOMy2-2F0A-2Bem7x4LxgtSQmxX-2FXyjLbQEglV9wvJaXZcLeQR-2BmUXH-2BFs49YJgncGyil6gxHji-2FPnrm-2BT9W-2BGMAo9p-2F1WzRPX-2F2mrg0UaBFIlELzEE5adXE-2BbcWcslhrI5WCx8yC1Ab9Jj3FXcZ8gKjX03ytT2cXJ1vcAIxaA-3D-3D&amp;source=gmail&amp;ust=1560845094495000&amp;usg=AFQjCNHOEWdPl4_j010NCnxt_CDM70SYcA">
                                                                                                                    {{annonce.bien.label| capitalize}}
                                                                                                                </a>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </th>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </th>
                                                                        </tr>
                                                                        <tr>
                                                                            <th height="10">
                                                                            </th>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                {% endfor %}
                                                                
                                                            </th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </th>
                                            <th width="345" class="m_-7675272318592799481m-stack" style="min-width:345" align="right" valign="top">
                                                <table width="345" border="0" style="min-width:345" class="m_-7675272318592799481m-fw" cellspacing="0" cellpadding="0" valign="top">
                                                    <tbody>
                                                        <tr>
                                                            <th>
                                                               {% for annonce in annonces|slice(5, 10) %}
                                                                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th align="center" style="border:1px solid #ededed">
                                                                                <table width="100%" bgcolor="#FFFFFF" align="center" cellspacing="0" cellpadding="0" border="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <th width="100" align="left" style="font-size:14px;line-height:20px;font-weight:400;font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;text-align:left;color:#ffffff;text-decoration:none">
                                                                                                <a href="{{ path('annonce_details', { 'label' : annonce.bien.label|slugify, 'id' : annonce.id }) }}" style="text-decoration:none;color:#ffffff" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.sg.booking.com/uni/mpss/c/6gA/2upHAA/t.2sh/D_al063nSXOIO9WZg6ST2Q/h39/0rr-2FHUEV74zz6nHByIA3XVWT6HMPOBOs9SapJos9IoDHWD8pXpC2vRzYxXxdAzsWM3MRKV9jyRUkYqOVO3f-2FJHlxiASYKVu7C9Y2vD0kR4NzuGFZ-2BqcSAVMbJe8Y-2BJ7h5TB0FmaJtvRgm9rxbcoIqG5qvX4uL2ASeD3UVGz-2FyAk5jsOoWLEovzSygZECbpDQDVehSPWlcjWvxjaNfMzkVRC9dD5fC9uLOuuWijhAxBhfAPJIsCq-2FFGj79oyr-2BIdEssX3v95FD0clV2VKOggo6g-3D-3D&amp;source=gmail&amp;ust=1560845094495000&amp;usg=AFQjCNG1bbpQoQJCgIv5CTHwu-o1jxW7CA">
                                                                                                    <img border="0" style="display:block;" src="{{ app.request.schemeAndHttpHost }}/uploads/photos/{{  annonce.photo }}" width="130" height="130" class="CToWUd">
                                                                                                </a>
                                                                                            </th>
                                                                                            <th align="left" valign="middle" style="font-size:14px;line-height:20px;font-weight:400;font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;text-align:left;color:#ffffff;text-decoration:none">
                                                                                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td align="left" style="padding:0 10px 0 10px;font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif">
                                                                                                                <a style="display:block;font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;line-height:24px;font-size:18px;color:#000000;text-decoration:none;font-weight:600" href="{{ path('annonce_details', { 'label' : annonce.bien.label|slugify, 'id' : annonce.id }) }}" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.sg.booking.com/uni/mpss/c/6gA/2upHAA/t.2sh/D_al063nSXOIO9WZg6ST2Q/h40/0rr-2FHUEV74zz6nHByIA3XVWT6HMPOBOs9SapJos9IoDHWD8pXpC2vRzYxXxdAzsWM3MRKV9jyRUkYqOVO3f-2FJHlxiASYKVu7C9Y2vD0kR4NMLJO4HOMy2-2F0A-2Bem7x4LxgtSQmxX-2FXyjLbQEglV9wvJaXZcLeQR-2BmUXH-2BFs49YJgncGyil6gxHji-2FPnrm-2BT9W-2BGMAo9p-2F1WzRPX-2F2mrg0UaBFIlELzEE5adXE-2BbcWcslhrI5WCx8yC1Ab9Jj3FXcZ8gKjX03ytT2cXJ1vcAIxaA-3D-3D&amp;source=gmail&amp;ust=1560845094495000&amp;usg=AFQjCNHOEWdPl4_j010NCnxt_CDM70SYcA">
                                                                                                                    {{annonce.bien.label| capitalize}}
                                                                                                                </a>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </th>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </th>
                                                                        </tr>
                                                                        <tr>
                                                                            <th height="10">
                                                                            </th>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                {% endfor %} 
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th height="20">
                                                            </th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding:0px 0px 24px 0px">
                <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td align="center" style="padding:24px 0 48px 0">
                                                <table class="m_-7675272318592799481deviceWidth" border="0" cellpadding="0" cellspacing="0" width="700" style="background-color:#faf3eb;border:1px solid #f07c00;border-radius:4px;border-collapse:separate!important">
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding:24px">
                                                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="m_-7675272318592799481m-stack" style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;padding:0px 12px 0px 0px">
                                                                                <table align="left" cellspacing="0" cellpadding="0" border="0" style="margin:0 auto">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td class="m_-7675272318592799481ss_mob_text_title_new" style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;font-size:20px;line-height:24px;font-weight:bold;text-align:left;padding:0px 0px 4px 0px">
                                                                                                <a href="{{ path('annonce_liste_type', {'offre': 'Location', 'typeBien' : 'Vaccances', 'page': '1' }) }}" style="text-decoration:none;color:#383838" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.sg.booking.com/uni/mpss/c/6gA/2upHAA/t.2sh/D_al063nSXOIO9WZg6ST2Q/h63/0rr-2FHUEV74zz6nHByIA3XdVYywHUFvjYKUQu-2BMVGtRaOugAPEzpuQoBQ86e4mV3fQifXp6vLuYDWzk300DjYLjf8OSYnFzi8wOJEk4ocvAqZKEPypWYbGszIfnbDlKCTGMuuPnbgFS37t4pK7WOemaO1bIqaKNzUEtjN9tMqmhLFXyk6C-2BIK-2FNMOshQhdb4Niez2xO9Ms4JM43CcL653R6UW3-2FIUFugpSD9BeYMz0Xg-3D&amp;source=gmail&amp;ust=1560845094497000&amp;usg=AFQjCNGQRnajt755Xgx72xg7Y_CquJldQQ">
                                                                                                    Plus des offres ?
                                                                                                </a>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="m_-7675272318592799481ss_mob_text_sub_new" style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;font-size:16px;line-height:20px;font-weight:normal;text-align:left">
                                                                                                <a href="{{ path('annonce_liste_type', {'offre': 'Location', 'typeBien' : 'Vaccances', 'page': '1' }) }}" style="text-decoration:none;color:#f07c00" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.sg.booking.com/uni/mpss/c/6gA/2upHAA/t.2sh/D_al063nSXOIO9WZg6ST2Q/h64/0rr-2FHUEV74zz6nHByIA3XdVYywHUFvjYKUQu-2BMVGtRaOugAPEzpuQoBQ86e4mV3fQifXp6vLuYDWzk300DjYLjf8OSYnFzi8wOJEk4ocvAo8hrYj-2FX6CBakWcqqU-2BiXrSZ6tYyd3Cm3gRhW2lRMIkPypnN4jgmGLln05KcAGX2IPX2Bx2ztn6JjsRq7aaLaV-2FDPZ8DsPwmuIa0PGbZgvxPOrchuzO6QE9AtI0KGtbhDj47SLQKc5GuJJaXkLlvoQ&amp;source=gmail&amp;ust=1560845094497000&amp;usg=AFQjCNHx0RQs5X9Bca5Yl_N2EOYjzvHuvw">
                                                                                                    Visitez limmobilier.tn
                                                                                                </a>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                            <td class="m_-7675272318592799481m-stack" align="center">
                                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background:#0077cc;border-radius:2px">
                                                                                    <tbody><tr align="center">
                                                                                            <td>
                                                                                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                                                    <tbody><tr>
                                                                                                            <td valign="middle" align="center" style="padding:14px 24px;font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-weight:normal;line-height:20px">
                                                                                                                <a href="{{ path('annonce_liste_type', {'offre': 'Location', 'typeBien' : 'Vaccances', 'page': '1' }) }}" style="text-decoration:none;color:#ffffff;display:block" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.sg.booking.com/uni/mpss/c/6gA/2upHAA/t.2sh/D_al063nSXOIO9WZg6ST2Q/h65/0rr-2FHUEV74zz6nHByIA3XdVYywHUFvjYKUQu-2BMVGtRaOugAPEzpuQoBQ86e4mV3fQifXp6vLuYDWzk300DjYLmDJv4lqYqyIERz4YrwwhLWqBjeivWBvoXJw1NfxXGT29Md7ElK1fcuOerPysFUeOIoP623p7J-2BMG8SQp9AQPWN6lF7wPkz0k3xZCWno-2BXCGbJmjvAHzfV9l0Nj6ux4YkwGrQVc66ofPS-2FkPchGVayc-3D&amp;source=gmail&amp;ust=1560845094497000&amp;usg=AFQjCNHGHjoBq_RwWPQrVWCWXxLORRJu5Q">
                                                                                                                    Voir les offres
                                                                                                                </a>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>