{% extends 'base.html.twig' %}

{% block meta %}
    <title>Tunisie annonce immobilier mes annonces</title>
    <meta name="description" content="Mes Annonces immobilières en Tunisie sur limmobilier.tn. Achat, vente et location de biens immobiliers en Tunisie. Trouvez votre maison, appartement ou terrain" />
{% endblock %}

{% block body %}
    <section class="my-property">
        <div class="container">
            <ul class="ht-breadcrumbs ht-breadcrumbs--y-padding ht-breadcrumbs--b-border">
                <li class="ht-breadcrumbs__item"><a href="{{ path('homepage') }}" class="ht-breadcrumbs__link"><span class="ht-breadcrumbs__title">Accueil</span></a></li>
                <li class="ht-breadcrumbs__item"><span class="ht-breadcrumbs__page">Mes annonces</span></li>
            </ul><!-- ht-breadcrumb -->
        </div>
        <div class="container">
            <div class="my-property__container">
                <div class="row">
                    <div class="col-md-3">
                        {{ include("default/compte/_menuUser.html.twig") }}
                    </div>
                    <div class="col-md-9">
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                                    <strong>{{ message }}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <div class="email-app mb-4">
                            <main class="message">
                                <div class="details">
                                    <div class="title">Sujet : {{ message.sujet}}</div>
                                    <div class="content-sender">
                                        <p>
                                            {{ message.message}}
                                        </p>
                                    </div>
                                    <div class="header">
                                        <div class="from">
                                            <span>{{message.sender.nom}}</span>
                                            <span>{{message.sender.telephone}}</span>
                                        </div>
                                        <div class="date">{{message.createdAt|date("Y-m-d") }},
                                            <b>{{message.createdAt|date("H:i:s") }}</b>
                                        </div>
                                    </div>
                                    {% for response in responses %}
                                        <div class="content-responder">
                                            <p>
                                                {{ response.message}}
                                            </p>
                                        </div>
                                        <div class="header">
                                            <div class="from">
                                                <span>{{response.sender.nom}} {{response.sender.prenom}}</span>
                                            </div>
                                            <div class="date">{{response.createdAt|date("Y-m-d") }},
                                                <b>{{response.createdAt|date("H:i:s") }}</b>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <form method="post" action="">
                                        <div class="form-group">
                                            {{ form_widget(form.message, {'attr': {'class': 'contact-form__field contact-form__comment', 'placeholder':'Message'}}) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form._token, {'attr': {'class': 'form-control'}}) }}
                                            <button class="sign-up__submit" tabindex="3" type="submit">Envoyer</button>
                                        </div>
                                    </form>
                                </div>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}