{% extends 'base.html.twig' %}

{% block meta %}
    <title>Tunisie annonce immobilier mes annonces</title>
    <meta name="description" content="Mes Annonces immobilières en Tunisie sur limmobilier.tn. Achat, vente et location de biens immobiliers en Tunisie. Trouvez votre maison, appartement ou terrain" />
{% endblock %}

{% block body %}
    <section class="my-property">
        <div class="container">
            <ul class="ht-breadcrumbs ht-breadcrumbs--y-padding ht-breadcrumbs--b-border">
                <li class="ht-breadcrumbs__item"><a href="{{ path('homepage') }}" class="ht-breadcrumbs__link"><span class="ht-breadcrumbs__title">Accueil</span></a></li>
                <li class="ht-breadcrumbs__item"><span class="ht-breadcrumbs__page">Mes annonces</span></li>
            </ul><!-- ht-breadcrumb -->
        </div>
        <div class="container">
            <div class="my-property__container">
                <div class="row">
                    <div class="col-md-3">
                        {{ include("default/compte/_menuUser.html.twig") }}
                    </div>
                    <div class="col-md-9">
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                                    <strong>{{ message }}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <ul class="manage-list manage-list--my-property">
                            {% for message in messages %}
                                <li class="message {% if(message.statut == 1) %} unread {% endif %}">
                                    <a href="{{ path('message_show', { 'id' : message.id }) }}">
                                        <div class="header">
                                            <span class="from">{{message.sender.nom}}</span>
                                            <span class="date">
                                                <!-- Paperclip icon SVG -->
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" style="vertical-align: middle; margin-right: 4px;">
                                                    <path d="M5.5 6.5v6a3 3 0 0 0 6 0V4a2 2 0 0 0-4 0v6.5a1 1 0 0 0 2 0V5h-1v6a2 2 0 0 1-4 0V6.5h1z"/>
                                                </svg>
                                                {{ message.createdAt|date("Y-m-d H:i:s") }}
                                            </span>
                                        </div>
                                        <div class="title">{{message.sujet}}</div>
                                        <div class="description">
                                            {{message.message}}
                                        </div>
                                    </a>
                                </li>
                            {% else %}
                                <p>Vous n'avez pas de message.</p>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}